@page "/"
@using DevExpress.Blazor
@using InventoryManagement.Frontend.DTOs.Reports


<PageTitle>Ana Sayfa</PageTitle>

@inherits ComponentBase


@if (generalReportData != null && generalReportData.data != null)
{
    @if (AuthorizationService!.HasPermission("res:report", "scopes:read"))
    {

        <div style="display: flex; justify-content: flex-end; align-items: center;">
            <RadzenButton Variant="Variant.Outlined" ButtonStyle="ButtonStyle.Primary" Text="Genel Raporu Yazdır" Click="@(() => { ShowGeneralReportVisible = true; })" />
        </div>


        <DxPieChart Data="@genelRapor"
                    Diameter="300"
                    InnerDiameter="0.5" T="AllProductReportItemDto">

            <DxPieChartSeries T="AllProductReportItemDto"
                              TValue="double"
                              TArgument="string"
                              ValueField="x => x.ProductCount"
                              ArgumentField="x => x.CategorySubName">
                <DxChartSeriesLabel Visible="true"
                                    Position="RelativePosition.Outside">
                    <DxChartSeriesLabelConnector Visible="true" Width="2" />
                </DxChartSeriesLabel>
            </DxPieChartSeries>


            <DxChartTooltip Enabled="true"
                            Position="RelativePosition.Outside">
                <div style="margin: 0.75rem">
                    <div class="fw-bold">@context.Point.Argument</div>
                    <div>Adet: @context.Point.Value</div>
                </div>
            </DxChartTooltip>
            <DxChartTitle Text="Kategori Bazlı Rapor">
                <DxChartSubTitle Text="Toplam Ürün" />
            </DxChartTitle>
            <DxChartLegend Position="RelativePosition.Outside"
                           Orientation="DevExpress.Blazor.Orientation.Horizontal" />
        </DxPieChart>

        <hr />

        <style>
            .chart-container {
                border: 1px solid #dee2e6;
                border-radius: 5px;
                padding: 10px;
            }
        </style>

        <div class="w-100 overview-chart">
            <div class="row mt-4">
                @if (genelRaporCompany != null && genelRaporCompany.Any())
                {
                    @foreach (var companyGroup in genelRaporCompany.GroupBy(x => x.CompanyId))
                    {
                        var companyName = companyGroup.First().CompanyName;
                        DrawDonutChart(companyGroup, companyName, $"Company: {companyName}");
                    }

                }
                else
                {
                    <p>Gösterilecek veri yok.</p>
                }
            </div>
        </div>
    }
}
else
{
    <RadzenProgressBar ProgressBarStyle="ProgressBarStyle.Primary" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
}


@{
    void DrawDonutChart<T>(IEnumerable<T> data, string companyName, string titleText)
    {
        <div class="col-md-4">
            <div class="chart-container">
                <div class="chart-item">
                    <div class="d-flex justify-content-center mb-3">
                        <h5>@companyName</h5>
                    </div>
                    <DxPieChart Data="data"
                                Width="100%"
                                InnerDiameter="0.5">
                        <DxPieChartSeries T="CompanyProductReportItemDto"
                                          TValue="double"
                                          TArgument="string"
                                          ArgumentField="x => x.CategorySubName"
                                          ValueField="x => x.ProductCount">
                            <DxChartSeriesLabel Visible="true"
                                                Position="RelativePosition.Outside">
                                <DxChartSeriesLabelConnector Visible="true" Width="2" />
                            </DxChartSeriesLabel>
                        </DxPieChartSeries>
                        <DxChartLegend VerticalAlignment="VerticalEdge.Bottom"
                                       Position="RelativePosition.Outside" />
                        <DxChartTooltip Enabled="true" Position="RelativePosition.Outside">
                            <div class="m-2">
                                <div>
                                    @($"{context.Point.Argument}: {(double)context.Point.Value}")
                                </div>
                            </div>
                        </DxChartTooltip>
                    </DxPieChart>
                </div>
            </div>
        </div>
    }
}

@if (ShowGeneralReportVisible)
{
    <DxPopup HeaderText="Zimmet Formu"
             AllowDrag="true"
             Width="90%"
             MinWidth="600px"
             MaxWidth="900px"
             @bind-Visible="@ShowGeneralReportVisible">
        <DxReportViewer @ref="@_reportViewer" Report="@_report" SizeMode="SizeMode.Large" />
    </DxPopup>
}
