@using InventoryManagement.Frontend.DTOs.Keycloak;
@using InventoryManagement.Frontend.Services
@using System.Security.Claims
@using InventoryManagement.Frontend.Services.Authorization;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;

@inherits InventoryManagement.Frontend.Shared.MainLayoutComponent



<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />


<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>

            <RadzenLayout>
                <ChildContent>
                    <RadzenHeader>
                        <ChildContent>

                            <RadzenProfileMenu style="display: inline-block; float: right">
                                <Template>
                                    <RadzenIcon Icon="account_circle"></RadzenIcon>
                                </Template>
                                <ChildContent>
                                    <RadzenProfileMenuItem Icon="settings" Text="Profil"></RadzenProfileMenuItem>
                                    <RadzenProfileMenuItem Icon="security" Text="Rol Bilgisi"></RadzenProfileMenuItem>
                                    @{
                                        var logout = "Oturumu Kapat : " + ((KeycloakAuthenticationStateProvider)authenticationStateProvider)?.UserInfo?.PreferredUsername;
                                    }

                                    <div @onclick="((KeycloakAuthenticationStateProvider)authenticationStateProvider).LogoutAsync"><RadzenProfileMenuItem Text="@logout" Value="Logout" Icon="power_settings_new" Path="/login"></RadzenProfileMenuItem></div>

                                </ChildContent>
                            </RadzenProfileMenu>

                            <div class="row justify-content-start align-items-center">
                                <div class="col-6 d-flex align-items-center">
                                    <RadzenSidebarToggle Click="@SidebarToggle0Click">
                                    </RadzenSidebarToggle>

                                    <RadzenStack AlignItems="AlignItems.Center">
                                        <RadzenImage Path="logo.svg" Style="width: 10rem;" Class="responsive-logo" />
                                    </RadzenStack>

                                    <div style="margin-right: 1rem;"></div>

                                    <RadzenMenu ClickToOpen="true">
                                        <ChildContent>
                                            <RadzenMenuItem Text="Ana Sayfa" Icon="home" IconColor="@Colors.Primary" Path="/"></RadzenMenuItem>
                                            @if (AuthorizationService.HasPermission("res:product", "scopes:read"))
                                            {
                                                <RadzenMenuItem Text="Envanter Listesi" Icon="inventory" IconColor="@Colors.DangerDark" Path="/product/product-list"></RadzenMenuItem>
                                            }
                                            <RadzenMenuItem Text="Tanımlamalar" Icon="edit_square">
                                                <ChildContent>
                                                    @if (AuthorizationService.HasPermission("res:company", "scopes:read"))
                                                    {
                                                        <RadzenMenuItem Text="Şirket Listesi" Path="/company-list" Icon="business" IconColor="@Colors.Primary"></RadzenMenuItem>
                                                    }
                                                    @if (AuthorizationService.HasPermission("res:category", "scopes:read"))
                                                    {
                                                        <RadzenMenuItem Text="Kategori Listesi" Path="/definitions/category-list" Icon="polymer" IconColor="@Colors.SuccessLight"></RadzenMenuItem>
                                                    }
                                                    @if (AuthorizationService.HasPermission("res:brand", "scopes:read"))
                                                    {
                                                        <RadzenMenuItem Text="Marka Listesi" Path="/definitions/brand-list" Icon="polymer" IconColor="@Colors.SuccessLight"></RadzenMenuItem>
                                                    }
                                                    @if (AuthorizationService.HasPermission("res:product", "scopes:read"))
                                                    {
                                                        <RadzenMenuItem Text="Ürün Listesi" Path="/definitions/product-editor" Icon="polymer" IconColor="@Colors.SuccessLight"></RadzenMenuItem>
                                                    }
                                                    @if (AuthorizationService.HasPermission("res:transferofficier", "scopes:read"))
                                                    {
                                                        <RadzenMenuItem Text="Şirket ve Transfer Sorumluları" Path="/definitions/transfer-officiers" Icon="groups" IconColor="@Colors.DangerLight"></RadzenMenuItem>
                                                    }
                                                </ChildContent>
                                            </RadzenMenuItem>
                                        </ChildContent>
                                    </RadzenMenu>
                                </div>
                            </div>
                        </ChildContent>
                    </RadzenHeader>

                    <RadzenBody @ref="body0">
                        <ChildContent>
                            <RadzenContentContainer Name="main">
                                @Body
                            </RadzenContentContainer>
                        </ChildContent>
                    </RadzenBody>

                    <RadzenSidebar @ref="sidebar0">
                        <ChildContent>
                            <RadzenPanelMenu Multiple="false" style="height: 100%">
                                <ChildContent>
                                    <RadzenPanelMenuItem Text="Ana Sayfa" Icon="home" IconColor="@Colors.Primary" Path="/">
                                    </RadzenPanelMenuItem>
                                    <RadzenPanelMenuItem Text="Envanter Listesi" Icon="inventory" IconColor="@Colors.Info" Path="/product/product-list"> </RadzenPanelMenuItem>
                                    <RadzenPanelMenuItem Text="Tanımlamalar" Icon="edit_square" IconColor="@Colors.Danger">
                                        <ChildContent>
                                            @if (AuthorizationService.HasPermission("res:company", "scopes:read"))
                                            {
                                                <RadzenPanelMenuItem Text="Şirket Profilleri" Icon="business" IconColor="@Colors.Primary" Path="/company-list"></RadzenPanelMenuItem>
                                            }
                                            @if (AuthorizationService.HasPermission("res:category", "scopes:read"))
                                            {
                                                <RadzenPanelMenuItem Text="Kategori Tanımlama" Icon="polymer" IconColor="@Colors.SuccessLight" Path="/definitions/category-list"></RadzenPanelMenuItem>
                                            }
                                            @if (AuthorizationService.HasPermission("res:brand", "scopes:read"))
                                            {
                                                <RadzenPanelMenuItem Text="Marka Tanımlama" Icon="polymer" IconColor="@Colors.SuccessLight" Path="/definitions/brand-list"></RadzenPanelMenuItem>
                                            }
                                            @if (AuthorizationService.HasPermission("res:product", "scopes:read"))
                                            {
                                                <RadzenPanelMenuItem Text="Ürün Tanımlama" Icon="polymer" IconColor="@Colors.SuccessLight" Path="/definitions/product-editor"></RadzenPanelMenuItem>
                                            }
                                            @if (AuthorizationService.HasPermission("res:transferofficier", "scopes:read"))
                                            {
                                                <RadzenPanelMenuItem Text="Şirket ve Transfer Sorumluları" Icon="groups" IconColor="@Colors.DangerLight" Path="/definitions/transfer-officiers"></RadzenPanelMenuItem>
                                            }
                                        </ChildContent>
                                    </RadzenPanelMenuItem>
                                </ChildContent>
                            </RadzenPanelMenu>
                        </ChildContent>
                    </RadzenSidebar>

                    <RadzenFooter style="display: flex; height: 40px; align-items: center; justify-content: space-between; text-align: left;">
                        <ChildContent>
                            <div style="display: flex; align-items: center;">
                                <RadzenLabel id="company" style="margin-right: 10px;"
                                             Text="Ahlatcı Holding, Copyright Ⓒ 2023">
                                </RadzenLabel>
                            </div>

                            <div style="display: flex; align-items: center;">
                                <RadzenLabel id="coded" style="margin-left: 10px;"
                                             Text="Coded by Fatih Malyemez 2023">
                                </RadzenLabel>
                            </div>
                        </ChildContent>
                    </RadzenFooter>

                </ChildContent>
            </RadzenLayout>

        </Authorized>

        <NotAuthorized>
            <p>Yetkisiz giriş</p>
            @{
                //_navigationManager.NavigateTo("login");
            }
        </NotAuthorized>

        <Authorizing>
            <RadzenStack Gap="1rem" Class="rz-m-12" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
                <RadzenProgressBar ProgressBarStyle="ProgressBarStyle.Primary" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
            </RadzenStack>
        </Authorizing>

    </AuthorizeView>
</CascadingAuthenticationState>
